<div class="container-fluid">
<div style="text-align:left">
<p>
  You will be asked how much you agree with statements about how you function or feel about doing different activities.
</p>
<ol>
	<li>Choose your answer based on your usual ability, <b>by yourself without the help of another person, and with any equipment or devices you normally use.</b>
	</li>
	<li>Do your best to pick the answer that best matches your agreement with the satement.
	If you are unable to pick a response the matches, choose <b>"<u>I don't know</u>".</b>
	</li>
</ol>
<p>
  You will also be asked about how much difficulty you have doing different things.
</p>
<ol>
	<li>Choose your answer based on your usual ability <b>using any equipment or devices you normally use.</b>
	</li>
	<li>Choose your answer based on your ability to do the activity <b>by yourself without the help of another person.</b>
	</li>
	<li>If you have not done an activity, do your best to guess what <b>your ability would be if you did it.</b><br/>
		If you are unable to gues choose <b>"<u>I don't know</u>"</b>.
	</li>
</ol>
<p>
  For example, if it takes you a very long time or it is hard for you to do something (or an activity), you would choose the answer <b>"<u>with a lot of difficulty</u>"</b>. But, if you need help from another person, you would choose <b>"<u>Unable</u>"</b>.
</p>
</div>
<a routerLink="/assessment" class="btn btn-primary btn-lg btn-block">Start</a>
</div>
